{% extends "ordermatching/base.html" %}
{% load static %}

{% block content %}
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg ' %}'); " >
			<div class="wrap-login100 p-t-30 p-b-50">
				<p style="color: red; text-align: center; font-size: 20px;">{{error_msg}}</p>
				<span class="login100-form-title p-b-41">
					Account Sign up
				</span>

				<form method="POST" class="login100-form validate-form p-b-33 p-t-5">
					{% csrf_token %}
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Enter Firstname">
						<input class="input100" type="text" name="firstname" placeholder="First name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter Lastname">
						<input class="input100" type="text" name="lastname" placeholder="Last name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>
					<div class="container-signup100-form-btn m-t-32">
						<button type = "submit" class="signup100-form-btn">
							Signup
						</button> 
					</div>
					<div class = "text-center"> 
						<p>Alrready have an account?<a href = "{% url 'signin-page' %}" >Sign in</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% endblock %}
