{% extends "home/base.html" %}

{% block title-content %}
	<title> Home </title>
{% endblock %}

{% block user-content %}
	{% if request.session.username %}
		<div class="nav-link-wrapper dropdown">
			<i class="far fa-user-circle"></i>
			Welcome {{ request.session.username }}
			<div class="dropdown-content">
				<a href="{% url 'logout-page' %}">Logout</a>
			</div>
		</div>
	{% else %}
		<div class="nav-link-wrapper">
			<a href="{%url 'signup-page'%}"><i class="glyphicon glyphicon-user"></i> Sign Up</a>
		</div>
		<div class="nav-link-wrapper">
			<a href="{%url 'signin-page'%}"><i class="glyphicon glyphicon-log-in"></i> Login</a>
		</div>
	{% endif %}
{% endblock %}

{% block trades-list %}
	{% if request.session.username %}
		<div class="nav-link-wrapper"> 
			<a href="{% url 'accepted-list' %}"><i class="fas fa-building"></i>Trades List</a>
		</div>
	{% endif %}
{% endblock %}