body {
	background-color: #e8f9fd;
}

#myModal {
  position: absolute;
}

button.btn-settings {
  margin: 25px;
  padding: 20px 30px;
  font-size: 1.2em;
  background-color: #337ab7;
  color: white;
}

button.btn-settings:active {
  color: white;
}
.modal {
    overflow: hidden;
}

.modal-header {
  height:30px;
  padding: 20px;
  background-color:#18456b;
  color:white;
}

.modal-title {
  margin-top:-10px;
  font-size:16px;
}

.modal-header .close {
  margin-top:-10px;
  color:#fff;
}

.modal-body {
  color:#888;
  padding: 5px 35px 20px;
}

.modal-body h3 {
  text-align: center;
}

.modal-body p {
  padding-top:10px;
  font-size: 1.1em;
}

.my_orders .table {
  float: left;
  width: 30%;
}
table.MarketTable{
  text-align: center;
  background-color:#18456ba;
  border: 2px whitesmoke;
}
th.BuyRow, th.SellRow{
  width: 100;
  color: white;
  font-size: 11;
}
td.BuyRow{
  color: lime; 
}
td.SellRow{ 
  color: rgb(231, 99, 99);
}
li.SellRow{
  color: whitesmoke;
}