{% extends "tradeslist/base.html" %}

{% block title-content %}
<title> Accepted Trades</title>
{% endblock %}

{% block trades-list %}
	{% if request.session.username %}
		<div class="nav-link-wrapper"> 
			<a href="{% url 'accepted-list' %}"><i class="fas fa-building"></i>Trades List</a>
		</div>
		<div class="nav-link-wrapper"> 
			<a href="{% url 'order-page' %}"><i class="fas fa-shopping-cart"></i> Order Page</a>
		</div>
	{% endif %}
{% endblock %}

{% block main-content %}
<div class="wrapper">
    <div class="sidebar">
        <h2>Trade List</h2>
        <ul>
            <li style="background-color: green;"><a href="{% url 'accepted-list' %}"><i class="fas fa-check-circle"></i>Accepted Trades</a></li>
            <li><a href="{% url 'waiting-list' %}"><i class="fas fa-hourglass-start"></i>Waiting Trades</a></li>
            <li><a href="{% url 'rejected-list' %}"><i class="fas fa-window-close"></i>Rejected Trades</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">
        	<p>Welcome {{ request.session.username }}!! You are currently viewing accepted trades list</p>
    	</div>
    	<p>Buy Traded Shares: {{buy_shares}}</p>
		<p>Sell Traded Shares: {{sell_shares}}</p>
        <table class="content-table">
			  <thead>
			    <tr>
					<th>Order ID</th>
					<th>Order Category</th>
					<th>Order Time</th>
					<th>Order Quantity</th>
					<th>Order Type</th>
					<th>Order Price</th>
					<th>Order Status</th>
					<th>Traded Quantity</th>
					<th>Minimum Fill</th>
					<th>Disclosed</th>
					<th>Traded Quantity</th>
					<th>Traded Prices</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% if accepted_list %}
			    {% for order in accepted_list %}
					<tr>
						<th>{{order.order_id}}</th>
						<th>{{order.order_category}}</th>
						<th>{{order.order_time}}</th>
						<th>{{order.order_quantity}}</th>
						<th>{{order.order_type}}</th>
						<th>{{order.order_price}}</th>
						<th>{{order.order_status}}</th>
						<th>{{order.traded_quantity}}</th>
						<th>{{order.Minimum_fill}}</th>
						<th>{{order.Disclosed_Quantity}}</th>
						<th>{{order.trade_quant_list}}</th>
						<th>{{order.trade_price_list}}</th>
					</tr>
				{% endfor %}
				{% else %}
					<tr>
						<th colspan="12" style="text-align: center;"> No Orders to Display</th>
					</tr>
				{% endif %}
			  </tbody>
		</table>
    </div>
</div>
{% endblock %}